<div class="AccountSidebar">
	<h3 class="AccountTitle titleSidebar">Account</h3>
	<div class="AccountContent">
		<div class="AccountList">
			<ul class="list-unstyled">			
				<li class="current"><a href="/account?view=en">Info account</a></li>
				<li><a href="/account/addresses?view=en">Address</a></li>
				<li class="last"><a href="/account/logout?view=en">Log out</a></li>
			</ul>
		</div>
	</div>
</div>