<div id="404" class="pageNot text-center wrap-flex-align" >
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="content-pagenot">
			<h1>الصفحة غير موجودة</h1>
			<p class="subtext">عذرا ، لم نتمكن من العثور على هذه الصفحة</p>
			<a href="{{shop.url}}">الصفحة الرئيسية</a>
		</div>
	</div>
</div>


